<!--====================  about area ====================-->
<div class="about-area space__bottom--r120 ">
    <div class="container">
        <div class="row align-items-center row-25">
            <div class="col-md-6 order-2 order-md-1">
                <div class="about-content">
                    <!-- section title -->
                    <div class="section-title space__bottom--25">
                        <h3 class="section-title__sub">Estagiários 2021</h3>
                        <h2 class="section-title__title">Formação - Fullstack</h2>
                    </div>
                    <p class="about-content__text space__bottom--40">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, provident. Ratione perspiciatis, voluptate explicabo iure voluptatum, cum omnis error laborum reprehenderit debitis architecto assumenda fugit odit. Alias ipsa id cumque?
                    </p>
                    <a href="contact.html" class="default-btn">Start now</a>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <div class="about-image space__bottom__lm--30">
                    <img width="671" height="408" src="../../assets/img/brand-logo/wipro.jpeg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of about area  ====================-->

<!--====================  testimonial area ====================-->
<div class="testimonial-area space__bottom--r120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title text-center  space__bottom--40 mx-auto">
                    <h3 class="section-title__sub">Testimonials</h3>
                    <h2 class="section-title__title">What clients say</h2>
                </div>
                <!-- testimonial slider -->
                <div class="testimonial-multi-slider-wrapper space__inner__bottom--50 space__inner__bottom__md--50 space__inner__bottom__lm--50">
                    <div class="single-testimonial single-testimonial--style2">
                        <p class="single-testimonial__text space__bottom--20"> <span class="quote-left">"</span>
                            Publishing packages and web page now use Lorem Ipsum as their mel text, and a search for
                            lorem <span class="quote-right">"</span></p>
                        <h5 class="single-testimonial__author">Nicolus Vengelious</h5>
                        <p class="single-testimonial__author-des">CEO, Octafact Group</p>
                    </div>
                    <div class="single-testimonial single-testimonial--style2">
                        <p class="single-testimonial__text space__bottom--20"> <span class="quote-left">"</span>
                            Publishing packages and web page now use Lorem Ipsum as their mel text, and a search for
                            lorem <span class="quote-right">"</span></p>
                        <h5 class="single-testimonial__author">John Doe</h5>
                        <p class="single-testimonial__author-des">CTO, HB Group</p>
                    </div>
                    <div class="single-testimonial single-testimonial--style2">
                        <p class="single-testimonial__text space__bottom--20"> <span class="quote-left">"</span>
                            Publishing packages and web page now use Lorem Ipsum as their mel text, and a search for
                            lorem <span class="quote-right">"</span></p>
                        <h5 class="single-testimonial__author">Jonathon Doe</h5>
                        <p class="single-testimonial__author-des">CIO, Oct Group</p>
                    </div>
                    <div class="single-testimonial single-testimonial--style2">
                        <p class="single-testimonial__text space__bottom--20"> <span class="quote-left">"</span>
                            Publishing packages and web page now use Lorem Ipsum as their mel text, and a search for
                            lorem <span class="quote-right">"</span></p>
                        <h5 class="single-testimonial__author">Jonathon Doe</h5>
                        <p class="single-testimonial__author-des">CIO, Oct Group</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of testimonial area  ====================-->
<!--====================  blog grid slider area ====================-->
<div class="blog-grid-slider-area space__bottom--r120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title text-center  space__bottom--40 mx-auto">
                    <h3 class="section-title__sub">Latest Post</h3>
                    <h2 class="section-title__title">Blog posts about our various construction projects</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-grid-wrapper space__bottom--m40">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="single-blog-grid space__bottom--40">
                                <div class="single-blog-grid__image space__bottom--15">
                                    <a href="blog-details-left-sidebar.html">
                                        <img width="370" height="271" src="assets/img/blog/grid1.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <h4 class="single-blog-grid__title space__bottom--10"><a href="blog-details-left-sidebar.html"> New design concept & idea</a></h4>
                                <p class="single-blog-grid__text">Publishing packages and web page editors now use Lorem
                                    Ipsum as their default model text and a search for lorem ipsumwill</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-blog-grid space__bottom--40">
                                <div class="single-blog-grid__image space__bottom--15">
                                    <a href="blog-details-left-sidebar.html">
                                        <img width="370" height="271" src="assets/img/blog/grid2.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <h4 class="single-blog-grid__title space__bottom--10"><a href="blog-details-left-sidebar.html"> Biggest construction design</a></h4>
                                <p class="single-blog-grid__text">Publishing packages and web page editors now use Lorem
                                    Ipsum as their default model text and a search for lorem ipsumwill</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-blog-grid space__bottom--40">
                                <div class="single-blog-grid__image space__bottom--15">
                                    <a href="blog-details-left-sidebar.html">
                                        <img width="370" height="271" src="assets/img/blog/grid3.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <h4 class="single-blog-grid__title space__bottom--10"><a href="blog-details-left-sidebar.html"> Steel structure design concept</a></h4>
                                <p class="single-blog-grid__text">Publishing packages and web page editors now use Lorem
                                    Ipsum as their default model text and a search for lorem ipsumwill</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of blog grid slider area  ====================-->
<!--====================  brand logo area ====================-->
<div class="brand-logo-area space__bottom--r120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- brand logo slider -->
                <div class="brand-logo-wrapper">
                    <div class="single-brand-logo">
                        <a href="#"><img width="126" height="50" src="assets/img/brand-logo/logo1.png" class="img-fluid" alt=""></a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#"><img width="129" height="49" src="assets/img/brand-logo/logo2.png" class="img-fluid" alt=""></a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#"><img width="113" height="49" src="assets/img/brand-logo/logo3.png" class="img-fluid" alt=""></a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#"><img width="141" height="55" src="assets/img/brand-logo/logo4.png" class="img-fluid" alt=""></a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#"><img width="146" height="54" src="assets/img/brand-logo/logo5.png" class="img-fluid" alt=""></a>
                    </div>
                    <div class="single-brand-logo">
                        <a href="#"><img width="141" height="55" src="assets/img/brand-logo/logo4.png" class="img-fluid" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of brand logo area  ====================-->

<!-- copyright text -->
<div class="copyright-area background-color--deep-dark space__inner--y30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="copyright-text">&copy; Site Made with <i class="fa fa-heart"></i> by <a href="https://www.williansmartins.com" target="_blank">Willians Martins</a></p>
            </div>
        </div>
    </div>
</div>