.wrapper {
  margin-top: 100px;
}
.main-nav-menu > ul > li > a.active:after {
  width: 100%!important;
  background-color: white;
}
.background-color--default {
  background-color: #ca1640;
  color: white;
}
.background-color--dark {
  background-color: #041e42;
}
