  <h2>Perguntas</h2>
  <p>Aqui vamos gerenciar a entidade pergunta:</p>

  <button mat-raised-button color="primary" (click)="novaPergunta()">Nova pergunta</button>

  <br />
  <br />

  <form class="formulario" *ngIf="mostrarFormularioPergunta">
    <mat-form-field appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput type="text" [(ngModel)]="pergunta.titulo" name="titulo" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Resposta1</mat-label>
      <input matInput type="text" [(ngModel)]="pergunta.resposta1" name="resposta1" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Resposta2</mat-label>
      <input matInput type="text" [(ngModel)]="pergunta.resposta2" name="resposta2" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Resposta3</mat-label>
      <input matInput type="text" [(ngModel)]="pergunta.resposta3" name="resposta3" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Correta</mat-label>
      <input matInput type="text" [(ngModel)]="pergunta.correta" name="correta" />
    </mat-form-field>
    <br />
    <button mat-fab class="botao-salvar" (click)="salvarPergunta()">
      <mat-icon>save</mat-icon>
    </button>
  </form>

  <table mat-table [dataSource]="dataSourcePergunta" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-raised-button color="primary" (click)="editarPergunta(element)">Editar</button>
        &nbsp;
        <button mat-raised-button color="accent" (click)="deletePergunta(element.idPublico)">Excluir</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumnsPergunta"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsPergunta;"></tr>
  </table>  